
.contenaire{
    color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    width: 50%;
}
#tete{
    background-color: #303030;
    color: whitesmoke;
}