body{
    margin: 0;
    padding: 0;
    
}
.contenaire{
    color: whitesmoke;
    border-bottom: solid whitesmoke 1px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    width: 100%;
}
#intro{
    
    width: 50%;
}
#tete{
    margin-top: 32px;
    background-color: #303030;
    color: whitesmoke;
    width: 100%;
    border-bottom-color: gray;
    border-bottom-style: solid ;
    border-bottom-width: 1px ;
}
#development{
    display: flex; 
    justify-content: space-around;
}
.dev img{
    border-radius: 25px; 
-moz-border-radius: 25px;
-webkit-border-radius: 25px;
}
#reseau{
    display: flex; 
    justify-content: space-around;
}
.res img{
    border-radius: 25px; 
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;

}
.button_project{
    background-color: #131313;
    color: whitesmoke;

    height: 50px;
    border-radius: 15px; 
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

a:link {
  color: orangered;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: red;
  background-color: transparent;
  text-decoration: none;
}
nav{
    top: 0px;
    left: 0px;
    position: fixed;
    background-color: #161616;
    border-bottom: solid whitesmoke 2px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    height: 30px;
    font-size: 25px;

}
.link:hover{
    background-color: black;

    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
}
.link{
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
}
#containerprojet{
    text-align: center;
    width: 100%;
    display: flex; 
    justify-content: space-around;
}
#challenge{
    width: 50%;
    margin-left: 100px;
    margin-right: 50px;
}
#ppe1{
    width: 50%;
    margin-left: 50px;
    margin-right: 100px;
}
#containerprojet img{
    width: 100%;
    height: auto;
    
}
#choix{
    text-align: center;
    width: 100%;
    display: flex; 
    justify-content: space-around;
}
#choix img{
    width: 25%;
    height: auto;
    border-radius: 25px; 
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;

}


